[irc]
nick=Pybot
identpassword=Password
server=irc.server.net:6667
channels=#channel1,#channel2
botadmins=nick1,nick2,etc


[APIkeys]
wolframAPIkey=kA1A1
fmlAPIkey=cA1A1
rtAPIkey=fA1a1
wwoAPIkey=asdfghjkl
nprAPIkey=asdfghjhkl

[misc]
#log files for saving stdout and stderr
error_log=error_log
event_log=event_log

