[irc]
nick=Pybot
identpassword=Password
opernick=Nick
operpassword=Password
server=irc.server.net:6667
channels=#channel1,#channel2
botadmins=nick1,nick2,etc

#This example setting allows people to send 2 commands in quick succession before being ignored by the bot's spam protection
spam_protect_lines=2

[APIkeys]
wolframAPIkey=kA1A1
fmlAPIkey=cA1A1
rtAPIkey=fA1a1
wwoAPIkey=asdfghjkl
nprAPIkey=asdfghjhkl

[webui]
username=admin
password=change-me-or-someone-will-steal-your-config
port=8080

[misc]
#log files for saving stdout and stderr
error_log=error_log
event_log=event_log

